﻿@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h1>Игра "Крестики-нолики". Правила:</h1>
<p></p>
<p><b>Как играть?</b></p>
<p>Если Вы создали игру:</p>
<p> -Вы ходите за "крестики" и Ваш ход первый.</p>
<p></p>
<p>Если Вас пригласили в игру:</p>
<p> -Вы ходите за "нолики" и Ваш ход второй.</p>
<p></p>
<p><b>Победа:</b></p>
<p>Первый, выстроивший в ряд 3 своих фигуры по вертикали, горизонтали или диагонали, выигрывает.</p>
