﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Kemerovo City<br />
 <br />
    <abbr title="Phone">+7(951)-586-7617</abbr>
    425.555.0100
</address>

<address>
    <strong>Skype:</strong> <a>valeriyleonov17</a><br />
    <strong>Mail:</strong> <a href="mailto:valeriy.leonov@inbox.ru">valeriy.leonov@inbox.ru</a>
</address>
