﻿<!DOCTYPE html>
<html>
<head>
    <title>Swapping Songs</title>
</head>
<body>
    <button >1</button><button>2</button><button>3</button>
    <br />
    <button>4</button><button>5</button><button>6</button>
    <br />
    <button>7</button><button>8</button><button>9</button>
    <br />

    <div id="loginBlock">
        Введите логин:<br />
        <input id="userName" type="text" />
        <input id="loginBtn" type="button" value="Войти" />
    </div><br />

    <div id="header"></div><br />

    <div id="inputForm">
        <input type="text" id="message" />
        <input type="button" id="sendBtn" value="Отправить" />
    </div>
    <div id="chatroom"></div>

    <!--подключаем скрипт-->
    <script src="js/signalr-client-1.0.0-alpha2-final.min.js"></script>

    <script>
        let url = window.location.href.toString();
        let hubUrl = url + 'chat';
        let httpConnection = new signalR.HttpConnection(hubUrl);
        let hubConnection = new signalR.HubConnection(httpConnection);
        let userName = '';

        hubConnection.on("Send", function (message, userName) {

            // создаем элемент <b> для имени пользователя
            let userNameElem = document.createElement("b");
            userNameElem.appendChild(document.createTextNode(userName + ': '));

            // создает элемент <p> для сообщения пользователя
            let elem = document.createElement("p");
            elem.appendChild(userNameElem);
            elem.appendChild(document.createTextNode(message));

            var firstElem = document.getElementById("chatroom").firstChild;
            document.getElementById("chatroom").insertBefore(elem, firstElem);

        });

        // установка имени пользователя
        document.getElementById("loginBtn").addEventListener("click", function (e) {
            userName = document.getElementById("userName").value;
            document.getElementById("header").innerHTML = '<h3>Welcome ' + userName + '</h3>';
        });

        document.getElementById("sendBtn").addEventListener("click", function (e) {
            let message = document.getElementById("message").value;

            hubConnection.invoke("Send", message, userName);
        });

        hubConnection.start();
    </script>

</body>
</html>