﻿@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h2 class="text-danger">ViewData["Title"]</h2>
    <p class="text-danger">У вас нет доступа к этому ресурсу. You do not have access to this resource.</p>
</header>
