﻿@{
    ViewData["Title"] = "Confirm email";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Благодарим вас за подтверждение вашей электронной почты. Thank you for confirming your email.
    </p>
</div>
