﻿@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h2>@ViewData["Title"]</h2>
<p>
    Проверьте свой адрес электронной почты, чтобы сбросить пароль. Please check your email to reset your password.
</p>
