﻿@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Эта учетная запись заблокирована, повторите попытку позже.
 This account has been locked out, please try again later.</p>
</header>
