﻿@{
    ViewData["Title"] = "Reset password confirmation";
}

<h2>@ViewData["Title"]</h2>
<p>
    Ваш пароль был сброшен. пожалуйста 
    Your password has been reset. Please <a asp-action="Login"> Кликните здесь чтоб войти click here to log in</a>.
</p>
